<ion-content class="mouse-hover-area">
  <div class="mouse-hover-indicator"></div>

  <div class="ion-text-center">
    <h2>Iniciar Sesión</h2>
  </div>

  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input fill="solid" errorText="Campo Obligatorio" [(ngModel)]="logindata.username" name="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="logindata.password" name="password"></ion-input>
  </ion-item>

  <div class="button-container">
    <ion-button expand="block" color="primary" routerLink="/login" (click)="login()">Ingresar</ion-button>
    <ion-button expand="block" color="primary" routerLink="/recuperar">Recuperar</ion-button>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</ion-content>