/* usuario.component.scss */

div {
    text-align: center; /* Para centrar el texto */
    margin-top: 50px; /* Espaciado en la parte superior para centrarlo verticalmente */
  }
  
  p {
    font-size: 24px; /* Tamaño del texto */
    color: blue; /* Color del texto */
  }
  