<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [ngClass]="{'error-border': errorMensaje !== ''}">
  <ion-item>
    <ion-label position="floating" color="dark">Usuario</ion-label>
    <ion-input [(ngModel)]="logindata.username" name="username" color="dark"></ion-input>
  </ion-item>

  <div class="error-message" *ngIf="errorMensaje !== ''">
    {{ errorMensaje }}
  </div>

  <ion-button expand="block" color="dark" (click)="recupera()">Recuperar</ion-button>

  <!-- Botón para volver -->
  <ion-button expand="block" color="light" routerLink="/login">
    Volver al inicio de sesión
  </ion-button>
</ion-content>
